# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=06d266d5-811e-4775-ab3e-0f47741cd5dc

    # Set to true to disable all reporting
    B:opt-out=false
}


